{% extends 'app1/base.html' %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col col-8 offset-2">
            <h1 class="alert alert-warning text-center ">Employe Registration</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-primary" value="submit">
            </form>
        </div>
        
    </div>
   
</div>

<!-- display table -->
<div class="container">
    <br><br><br><br>
    <h1 class="alert alert-warning text-center my-6 ">Employe Records</h1>
    <table class="table table-dark table-striped my-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
          <tr>
            <th scope="row">{{i.id }}</th>
            <td>{{i.name }}</td>
            <td>{{i.email }}</td>
            <td>{{i.password}}</td>
            <td>
                <!-- Update icon -->
                <a href="{% url 'update' i.id %}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <!-- Delete Icon -->
            <form action="{% url  'delete' i.id %}" method="post" class="d-inline">
                 {% csrf_token %}
                <button type="submit">
                    <i class="fa-solid fa-trash "></i>
                </button>
            </form>
            </td>
            
          </tr>
          
        </tbody>
        {% endfor %}
      </table>
</div>


{% endblock content %}